<?xml version="1.0" encoding="UTF-8"?>
  <!-- Sample command: roslaunch AJTemplateBot pyrotator.launch theta1:=1 theta2:=.25 theta3:=.5 -->
  <launch>
    
    <arg name="theta1" default="0"/>
    <arg name="theta2" default="0"/>
    <arg name="theta3" default="0"/>

    <node name="rotator" pkg="AJTemplateBot" type="rotator.py" args="$(arg theta1) $(arg theta2) $(arg theta3)" output="screen"/>
          
</launch>
